<div>
    <h1 class="d-flex justify-content-between">Venta</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <mat-form-field appearance="fill">
            <mat-label id="negrita">Marca</mat-label>
            <input formControlName="idMarca" matInput type="text" [matAutocomplete]="a2" [(ngModel)]="filtro1" (ngModelChange)="filtrarMarcas()" (keyup)="filtrarMarcas()"
            (keyup.enter)="filtrarModelos()" readonly="true"/>
            <mat-autocomplete #a2="matAutocomplete" [displayWith]="displayMarcas.bind(this)">
                <mat-option *ngFor="let item of filterMarcas" [value]="item.id">
                    {{item.nombreMarca}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-error class="text-danger"
          *ngIf="registerForm.get('idMarca')?.invalid && registerForm.get('idMarca')?.touched">
          El <strong>campo</strong> es requerido
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label id="negrita">Modelo</mat-label>
            <input formControlName="idModelo" matInput type="text" [matAutocomplete]="a1" [(ngModel)]="filtro" (ngModelChange)="filtrarModelos()" (keyup)="filtrarModelos()"
            (keyup.enter)="filtrarModelos()" readonly="true"/>
            <mat-autocomplete #a1="matAutocomplete" [displayWith]="displayModelos.bind(this)">
                <mat-option *ngFor="let item of filterModelos" [value]="item.id">
                    {{item.nombreModelo}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-error class="text-danger"
          *ngIf="registerForm.get('idModelo')?.invalid && registerForm.get('idModelo')?.touched">
          El <strong>campo</strong> es requerido
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label id="negrita">Precio</mat-label>
            <input matInput formControlName="costo" readonly="true">
        </mat-form-field>

        <mat-error class="text-danger"
          *ngIf="registerForm.get('costo')?.invalid && registerForm.get('costo')?.touched">
          El <strong>campo</strong> es requerido
        </mat-error>

        <mat-form-field appearance="fill">
            <mat-label id="negrita">Cliente</mat-label>
            <input formControlName="idCliente" matInput type="text" [matAutocomplete]="a3" [(ngModel)]="filtro3" (ngModelChange)="filtrarClientes()" (keyup)="filtrarClientes()"
            (keyup.enter)="filtrarClientes()"/>
            <mat-autocomplete #a3="matAutocomplete" [displayWith]="displayClientes.bind(this)">
                <mat-option *ngFor="let item of filterClientes" [value]="item.id">
                    {{item.nombreCliente}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-error class="text-danger"
          *ngIf="registerForm.get('idCliente')?.invalid && registerForm.get('idCliente')?.touched">
          El <strong>campo</strong> es requerido
        </mat-error>

    </form>
</div>
<button mat-raised-button class="col-3 m-auto mb-4 bg-success" (click)="register()"
    [disabled]="registerForm.invalid">Guardar</button>