.link:link,
.link:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link:hover,
.link:active
{
    text-decoration: underline;
    color: rgb(250, 250, 250);
}

.footer-copyright{
    color: white;
}

footer{
    background-color: rgb(122, 120, 120);
}