<app-navbar></app-navbar>
<mat-drawer-container>
<mat-drawer #sidenav mode="side" [opened]="true">
    <mat-nav-list>

        <a mat-list-item [routerLink]="STR_AUTO" [routerLinkActive]="['active']" id="red"> Autos</a>
        <a mat-list-item [routerLink]="STR_MODELO" [routerLinkActive]="['active']"  id="red"> Modelos </a>
        <a mat-list-item [routerLink]="STR_MARCA" [routerLinkActive]="['active']" id="red"> Marcas </a>
        <a mat-list-item [routerLink]="STR_PAIS" [routerLinkActive]="['active']"  id="red"> Países </a>
        <a mat-list-item [routerLink]="STR_CLIENTE" [routerLinkActive]="['active']"  id="red"> Clientes </a>
        
    </mat-nav-list>
</mat-drawer>

    <mat-drawer-content >
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
