<div class="container-fluid">
    <br>
    <h3>Gestión modelos</h3>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <mat-form-field class="example-full-width" appearance="legacy">
                    <mat-label>Búsqueda por nombre</mat-label>
                    <input matInput name="filtro" [(ngModel)]="filtro" (ngModelChange)="filtrar()" (keyup)="filtrar()"
                        (keyup.enter)="filtrar()">
                </mat-form-field>
            </div>

            <div class="col-2">
                <button mat-raised-button class="bg-success" (click)="abrirModal(0)">Agregar</button>
            </div>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">
      
            <ng-container matColumnDef="nombre">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre de modelo</th>
                <td mat-cell *matCellDef="let element" class="columna"> {{element.nombreModelo}} </td>
            </ng-container>

            <ng-container matColumnDef="marca">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Nombre de marca</th>
                <td mat-cell *matCellDef="let element" class="columna"> {{element.marca.nombreMarca}} </td>
            </ng-container>
    
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="abrirModal(element.id)" class="bg-warning">Editar</button>
                    <button mat-raised-button (click)="eliminar(element.id)" class="bg-danger">Eliminar</button>
                </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="3">No hay registros</td>
        </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div>
